fastapi
uvicorn
python-socketio
python-engineio
supabase
python-dotenv
scikit-learn
joblib
google-generativeai
google-genai
groq
sendgrid
twilio
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pandas
